body {
    background-color: #595547;
    color: #fff;
}
h1,
h2 {
  color: #9fc2f8;
}
h1 {
  font-style: 40pt;
}
span{
    color:yellow
}
.text{
    font-style: italic;
}
a{
    color:red;
}
.basic{
    color:white;
    font-style: italic;
}
.mess{
    height: 300px;
}
.mood{
    height: 300px;
}